@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/plain');
@font-face {
  font-family: "NeueMachina Light";
  src: url("./assets/fonts/NeueMachina-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NeueMachina Regular";
  src: url("./assets/fonts/NeueMachina-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NeueMachina Ultrabold";
  src: url("./assets/fonts/NeueMachina-Ultrabold.otf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}